.App {
  margin-left: 20px;
}

.modal-footer>:not(:last-child) {
    margin-right: 16rem;
}

input {
  display: block;
  margin: 5px 0 5px;
}

.breadcrumb {
  border-top-color: antiquewhite;
  background-color: #f8f9fa!important;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
